<h3>Update Post Details</h3>
<%= form_with model: @post do |form| %>
  <%= form.text_field :text, placeholder: "text" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.submit %>
<% end %>