<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.text, post_path(post) %></td>
      <td><%= button_to 'Edit', edit_post_path(post), method: 'get'%></td>
      <td><%= button_to 'Remove', post_path(post), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New post", new_post_path %>
