<h3>Create a Post</h3>
<%= form_with model: @post do |form| %>
  <%= form.text_field :text, placeholder: "test" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.submit %>
<% end %>

